  
  .Playerbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    
  }
  
  .PlayerbarProfile {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 3500px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .PlayerbarItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .PlayerbarTitle {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .SearchBar {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-bottom: 20px;
  }
  
  .SearchBar input[type="text"] {
    width: 60%;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
  }
  
  .SearchBar button {
    width: 25%;
    height: 30px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .SearchBar button:hover {
    background-color: #0069d9;
  }
  
  
  .PlayerImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .grid-item {
    height: 100px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown span {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .options {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23181a1b' d='M7.4 8.6l4.6 4.6 4.6-4.6c.8-.8 2-.8 2.8 0l.7.7c.8.8.8 2 0 2.8l-6.4 6.4c-.8.8-2 .8-2.8 0L3.7 12c-.8-.8-.8-2 0-2.8l.7-.7c.8-.8 2-.8 2.7 0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  
  .options:focus {
    border: 2px solid #18a0fb;
  }
  
  .countryImg{
    width: 200px;
    height: 80px;
    cursor: pointer;
  }
  .Title{
    font-weight: bold;
  }
  