.PlayerbarTitle {
    animation: player-comparison 1s ease-in-out infinite;
  }
  
  .PlayerbarItem img {
    animation: player-img 1s ease-in-out infinite;
  }
  
  @keyframes player-comparison {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-10px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
 
  
  .PlayerComparisonText {
    animation: player-comparison-text 1s ease-in-out infinite;
  }
  
  @keyframes player-comparison-text {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(10px);
      opacity: 0.5;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .page-wrapper {
    background-image: url("../assets/new.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .large-image {
    width: 4000px; /* Set the desired width */
    height: 1000px; /* Maintain the aspect ratio */
  }
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animated-image {
    
    width: 1600px; /* Set the desired width */
    height: 650px;
    border-radius: 10px;
    
  }
  